extends: default.liquid
---
<article class="article">
  <h1>Fish game devlog</h1>
  <p>The on-going development diary of a fishing game.</p>

  {% for post in posts %}
    <h4 class="posts__title"><a href="{{ post.path }}" title="{{ post.title }}">{{ post.title }}</a></h4>
    <p class="posts__description">{{ post.description }}</p>
  {% endfor %}
</article>
