<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% if is_post %}
          <title>{{ title }} :: Don't Expect Anything Sensible</title>
        {% else %}
          <title>Don't Expect Anything Sensible</title>
        {% endif %}

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/css/normalize.min.css">
        {% comment %} bad cachebuster - cant access 'now' or config {% endcomment %}
        <link rel="stylesheet" href="/css/main.css?v=1">

        <!--[if lt IE 9]>
          <script src="/js/vendor/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--[if IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="header clearfix">
            <h1 class="title">
                <a href="/" title="Home">Don't Expect Anything Sensible</a>
            </h1>
        </header>


        <main class="main clearfix">
          {% if is_post %}
            {% include '_layouts/post.liquid' %}
          {% else %}
            {{ content }}
          {% endif %}
        </main> <!-- #main -->


        <footer class="footer">
          <div id="mc_embed_signup">
            <form action="//dontexpectanythingsensible.us12.list-manage.com/subscribe/post?u=d7237191d3f06f411bc30d2e2&amp;id=b4f60794af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <label for="mce-EMAIL" id="email-label" class="label">For updates and announcements, sign up here:</label>
                  <input type="email" value="" aria-labelledby="email-label" placeholder="you@gmail.com" name="EMAIL" class="required email input" id="mce-EMAIL">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7237191d3f06f411bc30d2e2_b4f60794af" tabindex="-1" value=""></div>
              </div>
            </form>
          </div>

          <nav class="footer__nav">
            <a href="https://www.jamestease.co.uk/games" title="Other games we've made">Other games</a>
            <a href="https://www.dontexpectanythingsensible.uk" title="The Don't Expect Anything Sensible site">Main site</a>
            <a href="https://www.twitter.com/reallysensible" title="Don't Expect Anything Sensible on Twitter" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/dontexpectanythingsensible" title="Suppose we need a facebook page" target="_blank">Facebook</a>
          </nav>
        </footer>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-72421925-7','auto');ga('send','pageview');
        </script>
    </body>
</html>
